/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*= require weekTeacherTable
*= require main
*= require mobile
*/

html {
	height: 100%;
}
body {
	height: 136%;
	padding-top: 25px;
}
#mainContentBody {
	padding-bottom: 80px;
}
.weekHeader {
	text-align: center;
}
.btn-navi {
	background-color: #ccc;
	font-size: 15px;
}
.btn-inverse {
	background-color: white;
}
.btn {
	border-style: solid;
    border-width: 1px;
    border-color: black;
}
.btnSchema {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2px;
}
#indexFlashDiv {
	padding: 5px;
	font-size: 25px;
	border-style: solid;
    border-width: 5px;
    border-color: red;
}
#indexStatus {
	text-align: center;
}
#indexUploadHeader {
	padding-bottom: 10px;
	font-size: 25px;
}
.squareColor {
	width: 82%;
}
.squareColorActive {
	cursor: pointer;
}
.modal-dialog {
	width: 20%;
}
#legendYellow {
	background-color: yellow;
	color: yellow;
}
#legendOrange {
	background-color: orange;
	color: orange;
}
#legendDarkRed {
	background-color: darkred;
	color: darkred;
}
.legendText {
	width: 90%;
}
.legendColor {
	border-style: solid;
    border-width: 1px;
    border-color: black;
	width: 20%;
	margin: 5px;
}
.subjectSelected {
	cursor: move;
	color: red;
	background-color: black;
}
.subjectSelected:hover {
	cursor: move;
	color: red;
	background-color: black;
}
#schemaHome {
	padding-left: 20px;
}
.navItem {
	padding-top: 5px;
	margin-top: 5px;
}
.btn-secondary {
	margin-top: -5px;
}
.navFlag {
	margin-left: 5px;
	margin-top: 20px;
}
.navButton {
	padding-top: 5px;
	margin-top: 8px;
}
.pushTop {
	margin-top: 50px;
}
.smallBorder {
	color:	black;
}
.fontWeek {
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 20px;
}
.displaySpecificInner {
	padding: 10px;
}
.pushRight {
	margin-right: 20px;
}