.teacher {
	align: center;
	margin:0px;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
	width:98%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.teacher table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
#tableTimeColumn{
	font-size: 18px;
}
#tableHeader{
	font-size: 18px;
}
.teacher tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.teacher table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.teacher table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}
.teacher tr:last-child td:first-child {
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}
.teacher tr:nth-child(odd) { background-color:#f2f0ef; }
.teacher tr:nth-child(even) { background-color:#ffffff; }
.teacher td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.teacher tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.teacher tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.teacher tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.teacher tr:first-child td{
	background:-o-linear-gradient(bottom, #c4c3c2 5%, #f2f0ef 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4c3c2), color-stop(1, #f2f0ef) );
	background:-moz-linear-gradient( center top, #c4c3c2 5%, #f2f0ef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4c3c2", endColorstr="#f2f0ef");
	background: -o-linear-gradient(top,#c4c3c2,f2f0ef);
	background-color:#c4c3c2;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#000000;
}
.teacher tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #c4c3c2 5%, #f2f0ef 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4c3c2), color-stop(1, #f2f0ef) );
	background:-moz-linear-gradient( center top, #c4c3c2 5%, #f2f0ef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4c3c2", endColorstr="#f2f0ef");
	background: -o-linear-gradient(top,#c4c3c2,f2f0ef);
	background-color:#c4c3c2;
}
.teacher tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.teacher tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}